# Data Cleaning/Preprocessing Draft Data

In [2]:
# Importing required libraries
import pandas as pd
import numpy as np
import os

In [5]:
# Loading draft datasets
draft85 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft1985.pkl")
draft86 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft1986.pkl")
draft87 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft1987.pkl")
draft88 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft1988.pkl")
draft89 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft1989.pkl")
draft90 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft1990.pkl")
draft91 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft1991.pkl")
draft92 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft1992.pkl")
draft93 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft1993.pkl")
draft94 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft1994.pkl")
draft95 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft1995.pkl")
draft96 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft1996.pkl")
draft97 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft1997.pkl")
draft98 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft1998.pkl")
draft99 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft1999.pkl")
draft00 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft2000.pkl")
draft01 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft2001.pkl")
draft02 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft2002.pkl")
draft03 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft2003.pkl")
draft04 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft2004.pkl")
draft05 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft2005.pkl")
draft06 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft2006.pkl")
draft07 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft2007.pkl")
draft08 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft2008.pkl")
draft09 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft2009.pkl")
draft10 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft2010.pkl")
draft11 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft2011.pkl")
draft12 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft2012.pkl")
draft13 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft2013.pkl")
draft14 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft2014.pkl")
draft15 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft2015.pkl")
draft16 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft2016.pkl")
draft17 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft2017.pkl")
draft18 = pd.read_pickle(r"C:\Users\zhika\Desktop\NCAA_Data\Stage2DataFiles\draft_data\draft2018.pkl")

In [7]:
# Combining the datasets
datasets = [draft85, draft86, draft87, draft88, draft89, draft90, draft91, draft92,
           draft93, draft94, draft95, draft96, draft97, draft98, draft99, draft00,
           draft01, draft02, draft03, draft04, draft05, draft06, draft07, draft08,
           draft09, draft10, draft11, draft11, draft12, draft13, draft14, draft15,
           draft16, draft17, draft18]

result = pd.concat(datasets)

In [9]:
result.head()

  Pk        College  Season  num_drafted  best_college_player
1  1     Georgetown  1985.0          2.0                  1.0
2  2       Oklahoma  1985.0          1.0                  0.0
3  3      Creighton  1985.0          1.0                  0.0
4  4  Wichita State  1985.0          1.0                  0.0
5  5            SMU  1985.0          1.0                  0.0

In [10]:
result.tail()

    Pk     College  Season  num_drafted  best_college_player
56  54         SMU  2018.0          1.0                  0.0
58  56  Louisville  2018.0          1.0                  0.0
60  58        UCLA  2018.0          2.0                  0.0
61  59    Colorado  2018.0          1.0                  0.0
62  60      Dayton  2018.0          1.0                  0.0

In [11]:
result.drop(['Pk'], inplace = True, axis =  1)

In [12]:
result.head()

         College  Season  num_drafted  best_college_player
1     Georgetown  1985.0          2.0                  1.0
2       Oklahoma  1985.0          1.0                  0.0
3      Creighton  1985.0          1.0                  0.0
4  Wichita State  1985.0          1.0                  0.0
5            SMU  1985.0          1.0                  0.0

#### Checking to see if there are any incorrect entries in dataset

In [13]:
colleges = result['College'].unique()

In [17]:
colleges.sort()

TypeError: '<' not supported between instances of 'str' and 'float'

In [21]:
result['College'] = result['College'].astype(str)

In [22]:
colleges = result['College'].unique()
colleges.sort()

In [23]:
colleges

array(['Alabama', 'Alcorn State University',
       'American International College', 'Arizona', 'Arizona State',
       'Arkansas', 'Auburn', 'Auburn University at Montgomery',
       'Augsburg College', 'Austin Peay State University', 'BYU',
       'Ball State University', 'Barton County Community College',
       'Baylor', 'Boise State', 'Boston College', 'Bowling Green',
       'Bradley', 'Bucknell', 'Butler', 'Butler County Community College',
       'Cal', 'Cal State Long Beach',
       'California State University, Bakersfield',
       'California State University, Fullerton', 'Canisius College',
       'Central Connecticut State University', 'Central Florida',
       'Central Michigan University', 'Central State University',
       'Chattanooga', 'Christopher Newport University', 'Cincinnati',
       'Clemson', 'Cleveland State University', 'Colgate University',
       'College of Charleston', 'Colorado', 'Colorado State', 'Creighton',
       'Dartmouth College', 'Davidson', 'Dayton', 'DePaul',
       'Detroit Mercy', 'Drexel', 'Duke', 'Duquesne',
       'East Carolina University', 'Eastern Illinois University',
       'Eastern Michigan University', 'Eastern Washington University',
       'Elizabeth City State University', 'Florida', 'Florida A&M',
       'Florida State', 'Fresno State', 'George Mason University',
       'George Washington', 'Georgetown', 'Georgia',
       'Georgia Southern University', 'Georgia State University',
       'Georgia Tech', 'Gonzaga', 'Green Bay', 'Hofstra', 'Houston',
       'IUPUI', 'Illinois', 'Indian Hills Community College', 'Indiana',
       'Iona College', 'Iowa', 'Iowa State', 'Jackson State University',
       'Jacksonville University', 'Kansas', 'Kansas State', 'Kentucky',
       'LSU', 'La Salle', 'Lehigh', 'Little Rock',
       'Long Island University', 'Louisiana', 'Louisiana Tech',
       'Louisville', 'Loyola Chicago', 'Loyola College in Maryland',
       'Loyola Marymount University', 'Manhattan College',
       'Marist College', 'Marquette', 'Marshall', 'Maryland',
       'McNeese State University', 'Memphis', 'Mercer University',
       'Miami (FL)', 'Miami University', 'Michigan', 'Michigan State',
       'Middle Tennessee State University', 'Minnesota',
       'Mississippi State', 'Mississippi Valley State University',
       'Missouri', 'Missouri State', 'Missouri State University',
       'Morehead State University', 'Murray State', 'NC State',
       'Nebraska', 'Nevada', 'New Mexico', 'New Mexico State',
       'Niagara University', 'Norfolk State',
       'Northeast Mississippi Community College',
       'Northeastern University', 'Northern Arizona University',
       'Northwestern', 'Northwestern Oklahoma State University',
       'Notre Dame', 'Oakland', 'Ohio State', 'Ohio University',
       'Okaloosa-Walton Community College', 'Oklahoma', 'Oklahoma State',
       'Old Dominion', 'Oral Roberts', 'Oregon', 'Oregon State',
       'Penn State', 'Pepperdine', 'Phillips University', 'Pitt',
       'Providence', 'Purdue', 'Rhode Island', 'Rice University',
       'Rider University', 'Rutgers University', 'SMU',
       'Saint Francis University', "Saint Joseph's",
       'Saint Louis University', "Saint Mary's", 'San Diego State',
       'San Jose State', 'Santa Clara University', 'Seton Hall',
       'Seward County Community College', 'Shaw University',
       'Slippery Rock University of Pennsylvania', 'South Carolina',
       'South Dakota State University', 'Southeastern Illinois College',
       'Southeastern Oklahoma State University', 'Southern Illinois',
       'Southern University and A&M College', 'St. Bonaventure',
       "St. John's", 'Stanford', 'Syracuse', 'TCU', 'Temple', 'Tennessee',
       'Tennessee State', 'Tennessee Technological University', 'Texas',
       'Texas A&M', 'Texas State University', 'Texas Tech',
       'Texas-El Paso', 'Trenton State University',
       'Trinity Valley Community College', 'Tulane', 'Tulsa', 'UCLA',
       'UConn', 'UMass', 'UNC', 'UNC Charlotte', 'UNC Wilmington', 'UNLV',
       'USC', 'United States Naval Academy',
       'University of Alabama at Birmingham', 'University of Bridgeport',
       'University of California, Irvine',
       'University of California, Santa Barbara',
       'University of Central Arkansas', 'University of Evansville',
       'University of Hartford', 'University of Idaho',
       'University of Illinois at Chicago',
       'University of Louisiana at Monroe', 'University of Mississippi',
       'University of Missouri-Kansas City', 'University of Montana',
       'University of Nebraska at Kearney', 'University of New Orleans',
       'University of North Dakota', 'University of North Texas',
       'University of Pennsylvania', 'University of Richmond',
       'University of South Alabama', 'University of South Florida',
       'University of Southern Mississippi', 'University of Tampa',
       'University of Tennessee at Martin',
       'University of Texas at San Antonio', 'University of Toledo',
       'University of West Florida',
       'University of Wisconsin-Stevens Point',
       'University of the Pacific', 'Utah', 'Valparaiso', 'Vanderbilt',
       'Villanova', 'Virginia', 'Virginia Commonwealth', 'Virginia Tech',
       'Virginia Union University', 'Wake Forest', 'Walsh University',
       'Washington', 'Washington State', 'Weber State', 'West Virginia',
       'West Virginia State University', 'Western Carolina University',
       'Western Kentucky', 'Wichita State', 'Wisconsin',
       'Wright State University', 'Wyoming', 'Xavier', 'Yale', 'nan'],
      dtype=object)

In [26]:
result.to_pickle('draft_results.pkl')